{% extends "users/base.html" %}
{% load static %}
{% block head_content %}
<title>Platzigram sign up</title>
<link rel="stylesheet" href="{% static 'css/users/login.css' %}">
{% endblock head_content %} {% block container %}
<div class="container justify-content-center">
    <form class="justify-content-center" method="POST" action = "{% url "users:signup" %}">
        {% csrf_token %}
    
        {{form.as_p}}
        <div class="row mt-4">
            <div class="col">
                <input class="btn btn-primary btn-block" type="submit" value="Register">
            </div>
        </div>
    
    </form>
{% endblock container %}
